<view title="'Shopping Cart'" ng-contoller="HomeCtrl" left-buttons="leftButtons" right-buttons="rightButtons"
      hide-back-button="true">
    <content has-header="true" scroll="true">
        <div class="list">
            <a class="item item-thumbnail-left" ng-href="#/edit/{{$index}}" ng-repeat="item in items track by $index">
                <img ng-src="{{item.imageUrl}}"/>

                <h2>{{item.itemDescription}}</h2>

                <p>({{item.itemId}})</p>

                <p>Qty: {{item.quantity}}</p>
            </a>
        </div>
    </content>
    <div class="tabs tabs-icon-left">
        <a class="tab-item" ng-click="submitCart()">
            <i class="icon ion-ios7-cart"></i>
            Submit/Checkout
        </a>
        <a class="tab-item" ng-click="scan()">
            <i class="icon ion-ios7-videocam"></i>
            Scan
        </a>
        <a class="tab-item" ng-click="clearCart()">
            <i class="icon ion-ios7-close-outline"></i>
            Clear
        </a>
    </div>
</view>