<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bcs" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
    <name>Barcode Cart Builder</name>
    <description>
        Build a cart by scanning barcodes
    </description>
    <author email="web.development.help@gmail.com" href=" http://github.com/derekdata/barcode-cart-builder">
        Derek
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="Fullscreen" value="true"/>
    <preference name="webviewbounce" value="true"/>
    <preference name="UIWebViewBounce" value="false"/>
    <preference name="DisallowOverscroll" value="true"/>

</widget>
